<?xml version="1.0" encoding="UTF-8"?>
<plugin>

	<class>com.facewhat.archive.ArchivePlugin</class>
	<name>Face What Archive</name>
	<description>XEP-0136 compliant server side message archive for
		Openfire.</description>
	<author>lxy</author>
	<version>1.0.0</version>
	<date>04/3/2017</date>
	<minServerVersion>3.4.0</minServerVersion>

	<databaseKey>fwarchive</databaseKey>
	<databaseVersion>2</databaseVersion>
	<licenseType>gpl</licenseType>

	<adminconsole>
		<tab id="archiveTable" name="消息档案" url="archive_search.jsp">
			<sidebar id="arc_Sidebar" name="档案文件"
				url="arc_search.jsp" description="Click to archive_search">
				<item id="arc_search" name="查找档案" url="archive_search.jsp"
					description="Click to archive_search" />
				<!-- <item id="arc_setting" name="活跃用户展示" url="archive_setting.jsp"
					description="Click to archive_setting" />
				<item id="arc_audit" name="消息审计" url="archive_audit.jsp"
					description="Click to archive_audit" />
				<item id="conversation_display" name="活跃会话展示" url="conversation_display.jsp"
					description="Click to conversation_display" />
					-->
			</sidebar>
		</tab>
	</adminconsole>
</plugin>
 